<ion-view hide-nav-bar="true" hide-back-button="true">
    <style>
        .dj-info-top{
            min-height:44px;
            background:#ff2d4b;
        }

        .dj-info-top button{
            height:44px;
            color:#ff2d4b;
        }

        .dj-info-top button:hover{
            color:#ff2d4b;
        }

        .sy-dj{
            display:inline-block;
            width:100%;
        }

        .dj-img, .dj-img img{
            width:100%;
            display:inline-block;
        }

        .dj-title{
            width:100%;
            padding:5px 3%;
            font-size:18px;
            line-height:30px;
            font-weight:bold;
        }

        .dj-content{
            width:100%;
            display:inline-block;
            margin-top:10px;
            padding:0 2%;
        }

        .dj-content p img{
            display:inline-block;
            width:100%;
        }
    </style>

    <ion-content class="dj-info-content" delegate-handle="sy_content">
        <div class="sy-dj">
            <div class="dj-img"><img src="{{imgUrl}}" alt=""></div>
            <div class="dj-title">{{info.title}}</div>
            <div class="dj-content" ng-bind-html="info.content">{{info.content}}</div>
        </div>
    </ion-content>

    <ion-header-bar class="bar bar-header dj-info-top top-header-nav" style="" align-title="center" no-tap-scroll='true' translucent-bar="sy_content" translucent-color-opacity="0.01" translucent-color="rgb(255, 255, 255)" translucent-scroll-maxtop="100">

        <div class="dj-info-nav">
            <button class="button button-icon" ng-click="goBack()">
                <i class="icon ion-ios-arrow-back"></i>
            </button>
        </div>
    </ion-header-bar>
</ion-view>
