<!-- start 轮播图-->
<ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" delegate-handle="slideimgs" class="ion-img-slide">
    <!--<ion-slide does-continue="true">-->
    <ion-slide ng-repeat="(bkey,bitem) in banner">
        <div class="box banner"><img src="{{bitem.imgUrl}}" style="width:100%; display:inline-block"/></div>
        <!--<div class="box banner"><img src="../../img/banner1.jpg"/></div>-->
    </ion-slide>
</ion-slide-box>
<!-- end 轮播图-->
<ion-list class="sy-xuexi-list" on-swipe-left="leftChange()">
    <ion-item ng-if="item.l_t == 2" href="#/tab/djnav/{{item.id}}/1" class="sy-xuexi-items" ng-repeat="(key,item) in list">
        <div class="img">
            <img ng-src="{{item.imgUrl}}">
        </div>
        <div class="sy-article">
            <span class="sy-article-title">{{item.titles}}</span>
            <span class="sy-article-memo">{{item.l_Memo}}</span>
            <span class="sy-article-num" ng-show="{{item.l_t}}==2">文章：{{item.p_count}}</span>
        </div>
    </ion-item>

    <ion-item ng-if="item.l_t == 1" href="#/djinfo/{{item.id}}/1/0" class="sy-xuexi-items" ng-repeat="(key,item) in list">
        <div class="img">
            <img ng-src="{{item.imgUrl}}">
        </div>
        <div class="sy-article">
            <span class="sy-article-title">{{item.titles}}</span>
            <span class="sy-article-memo">{{item.l_Memo}}</span>
        </div>
    </ion-item>

</ion-list>