<ion-view hide-nav-bar="true" hide-back-button="true">
    <link rel="stylesheet" href="./css/dj-1.css">
    <style>

    </style>
    <ion-header-bar class="bar bar-header sy-top-search top-header-nav bar-positive" style="min-height:40px;">
        <div class="header-comment">
            <div class="user-comment">
                <div class="user-info" ng-click="showUser()">
                    <div class="u-top-img"><i class="user-top-img icon iconfont icon-yonghu"></i></div>
                </div>
            </div>
            <div class="top-search">
                <div class="top-s-con" ng-click="search('show')">
                    <i class="search-icon icon iconfont icon-fangdajing"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <ion-scroll class="sy-scroll-tab-x" direction="x" scrollbar-x="false" style="overflow-x: hidden; display:inline-block">
            <div class="sy-nav-lv2" style="">
                <div>
                    <a ng-href="#/tab/dangjian">党员学习</a>
                    <a ng-href="#/tab/dangke" class="active">在线党课</a>
                    <a ng-href="#/tab/kaoshi">党员考试</a>
                    <a ng-href="#/tab/zhichuang">党建之窗</a>
                </div>
            </div>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="sy-content" on-swipe-left="leftChange()"  on-swipe-right="rightChange()">
        <ion-list class="sy-dangke-list" >
            <ion-item ng-if="item.l_t == 2" href="#/tab/djnav/{{item.id}}/2" class="sy-xuexi-items" ng-repeat="(key,item) in list">
                <div class="img">
                    <img ng-src="{{item.imgUrl}}">
                </div>
                <div class="sy-article">
                    <span class="sy-article-title">{{item.titles}}</span>
                    <span class="sy-article-memo">{{item.l_Memo}}</span>
                    <span class="sy-article-num" ng-show="{{item.l_t}}==2">文章：{{item.p_count}}</span>
                </div>
            </ion-item>

            <ion-item ng-if="item.l_t == 1" href="#/djinfo/{{item.id}}/2/0" class="sy-xuexi-items" ng-repeat="(key,item) in list">
                <div class="img">
                    <img ng-src="{{item.imgUrl}}">
                </div>
                <div class="sy-article">
                    <span class="sy-article-title">{{item.titles}}</span>
                    <span class="sy-article-memo">{{item.l_Memo}}</span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
