<ion-view hide-nav-bar="true" hide-back-button="true" hide-show-nav-bar>
    <link rel="stylesheet" href="./css/dj-1.css">
    <style>

        .sy-content .slide-img{
            height:180px;
        }

        .sy-content .slide-img img{
            float:left;
            width:100%;
            height:180px;
        }
    </style>

    <ion-header-bar class="bar bar-header sy-top-search top-header-nav bar-positive" style="min-height:40px;">
        <div class="header-comment">
            <div class="user-comment">
                <div class="user-info" ng-click="showUser()">
                    <div class="u-top-img"><i class="user-top-img icon iconfont icon-yonghu"></i></div>
                </div>
            </div>
            <div class="top-search">
                <div class="top-s-con" ng-click="search('show','dj')">
                    <i class="search-icon icon iconfont icon-fangdajing"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <ion-scroll class="sy-scroll-tab-x" direction="x" scrollbar-x="false" style="overflow-x: hidden; display:inline-block">
            <div class="sy-nav-lv2" style="">
                <div>
                    <a ng-href="#/tab/dangjian" ng-repeat="d in tabNames" ng-click="activeSlide($index,'c')" ng-class="slectIndex==$index ? 'active' : '' ">{{d}}</a>
                </div>
            </div>
        </ion-scroll>
    </ion-header-bar>
    <ion-content class="sy-content" id="sy-cons" scrollbar-y="false">
        <ion-slide-box class="conrentSilde" on-slide-changed="slideChanged(index)" active-slide="slideIndex" does-continue="false" show-pager="false">
            <ion-slide ng-repeat="p in pages">
                <div ng-include="p"></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
