<div style=" width:100%;">
    <from ng-submit="submitForm(ksinfo)">
        <div class="ks-type-top">
            <div class="ks-div">
                <div class="ks-title">
                    <i class="icon iconfont icon-guanli2"></i><span>考试内容</span>
                </div>
            </div>
            <div class="ks-choose">
                <label class="item item-radio">
                    <input type="radio" name="type1" value="sjd" checked="checked" ng-model="ksinfo.type1">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            十九大
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="type1" value="gqdj" ng-model="ksinfo.type1">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            国企党建
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="type1" value="zglz" ng-model="ksinfo.type1">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            国企党建
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
            </div>
        </div>
        <div class="ks-type-top">
            <div class="ks-div">
                <div class="ks-title">
                    <i class="icon iconfont icon-guanli2"></i><span>题目类型</span>
                </div>
            </div>
            <div class="ks-choose">
                <label class="item item-radio">
                    <input type="radio" name="type2" value="dx" checked="checked" ng-model="ksinfo.type2">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            单选题
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="type2" value="dox" ng-model="ksinfo.type2">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            多选题
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="type2" value="pd" ng-model="ksinfo.type2">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            判断题
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
            </div>
        </div>
        <div class="ks-type-top">
            <div class="ks-div">
                <div class="ks-title">
                    <i class="icon iconfont icon-guanli2"></i><span>题目数量</span>
                </div>
            </div>
            <div class="ks-choose">
                <label class="item item-radio">
                    <input type="radio" name="type3" value="20" checked="checked" ng-model="ksinfo.type3">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            20
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="type3" value="50" ng-model="ksinfo.type3">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            50
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="type3" value="100" ng-model="ksinfo.type3">
                    <div class="radio-content ks-choose-radio-c">
                        <div class="item-content ks-choose-item">
                            100
                        </div>
                        <i class="radio-icon icon iconfont icon-xuanzhong"></i>
                    </div>
                </label>
            </div>
        </div>

        <button type="submit" class="ks-submit">进入考试</button>
    </from>
</div>