<ion-view hide-nav-bar="true" hide-back-button="true" hide-show-nav-bar>
    <link rel="stylesheet" href="./css/wenhua.css">
    <style>

    </style>

    <ion-header-bar class="bar bar-header sy-top-search top-header-nav" style="min-height:40px;">
        <div class="header-comment">
            <div class="user-comment">
                <div class="user-info" ng-click="showUser()">
                    <div class="u-top-img"><i class="user-top-img icon iconfont icon-yonghu"></i></div>
                </div>
            </div>
            <div class="top-search">
                <div class="top-s-con" ng-click="search('show')">
                    <i class="search-icon icon iconfont icon-fangdajing"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <ion-scroll class="sy-scroll-tab-x" direction="x" scrollbar-x="false" style="overflow-x: hidden;">
            <div class="sy-nav-lv2" style="">
                <div>
                    <a ng-click="tabsChange(1,'tab.wenhua')" ng-class="tabactive==1 ? 'active' : '' ">国企文库</a>
                    <a ng-click="tabsChange(2,'tab.wenhua_b')" ng-class="tabactive==2 ? 'active' : '' ">影像国企</a>
                    <a ng-click="tabsChange(3,'tab.wenhua_c')" ng-class="tabactive==3 ? 'active' : '' ">国企论坛</a>
                </div>
            </div>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="sy-content" scrollbar-y="false">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="reloadWenhua('refresher')" refreshing-text="正在刷新"></ion-refresher>
        <ion-list class="sy-wenku-list">
            <ion-item  ng-if="item.l_t == 2" href="#/tab/wenhua_nav/{{item.id}}/1" class="sy-wenku-item"  ng-repeat="(key,item) in lists">
                <img ng-src="{{item.imgUrl}}">
                <!--<img ng-src="{{chat.face}}">-->
                <span>{{item.titles}}</span>
            </ion-item>
            <ion-item ng-if="item.l_t == 1" href="#/wenhuainfo/{{item.id}}/0/1" class="sy-wenku-item"  ng-repeat="(key,item) in lists">
                <img ng-src="{{item.imgUrl}}">
                <!--<img ng-src="{{chat.face}}">-->
                <span>{{item.titles}}</span>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="isLoadMore()" on-infinite="reloadWenhua('infinite')" refreshing-text="正在加载"></ion-infinite-scroll>
    </ion-content>
</ion-view>
