<ion-view hide-nav-bar="true" hide-back-button="true">
    <link rel="stylesheet" href="./css/wenhua.css">
    <style>

    </style>

    <ion-header-bar class="bar bar-header sy-top-search top-header-nav" style="min-height:40px;">
        <div class="header-comment">
            <div class="user-comment">
                <div class="user-info" ng-click="showUser()">
                    <div class="u-top-img"><i class="user-top-img icon iconfont icon-yonghu"></i></div>
                </div>
            </div>
            <div class="top-search">
                <div class="top-s-con" ng-click="search('show')">
                    <i class="search-icon icon iconfont icon-fangdajing"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <ion-scroll class="sy-scroll-tab-x" direction="x" scrollbar-x="false" style="overflow-x: hidden;">
            <div class="sy-nav-lv2" style="">
                <div>
                    <a ng-click="tabsChange(1,'tab.wenhua')" ng-class="tabactive==1 ? 'active' : '' ">国企文库</a>
                    <a ng-click="tabsChange(2,'tab.wenhua_b')" ng-class="tabactive==2 ? 'active' : '' ">影像国企</a>
                    <a ng-click="tabsChange(3,'tab.wenhua_c')" ng-class="tabactive==3 ? 'active' : '' ">国企论坛</a>
                </div>
            </div>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="sy-content">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="reloadWenhua('refresher')" refreshing-text="正在刷新"></ion-refresher>
        <ion-list class="sy-kt-list">
            <ion-item href="#/wenhuainfo/{{item.id}}/0/3" class="sy-lt-items" ng-repeat="(key,item) in lists">
                <div class="img">
                    <img ng-src="{{item.imgUrl}}">
                </div>
                <div class="sy-article">
                    <span class="sy-article-title">{{item.titles}}</span>
                    <!--<span class="sy-article-memo">本专题片重点关注当前国企党建工作面临的问题以及采取的措施。国企党建是我国党建整体事业中的重点和难点。坚持党的领导、加强党的建设，是我国国有企业的光荣传统，是国有企业的‘根’和‘魂’，是我国国有企业的独特优势。</span>-->
                    <!--<span class="sy-article-num">文章：13</span>-->
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="isLoadMore()" on-infinite="reloadWenhua('infinite')" refreshing-text="正在加载"></ion-infinite-scroll>
    </ion-content>
</ion-view>
