<ion-list class="sy-kt-list">
    <ion-item href="#/wenhuainfo/{{item.id}}/0/3" class="sy-lt-items" ng-repeat="(key,item) in list3">
        <div class="img">
            <img ng-src="{{item.imgUrl}}">
        </div>
        <div class="sy-article">
            <span class="sy-article-title">{{item.titles}}</span>
            <!--<span class="sy-article-memo">本专题片重点关注当前国企党建工作面临的问题以及采取的措施。国企党建是我国党建整体事业中的重点和难点。坚持党的领导、加强党的建设，是我国国有企业的光荣传统，是国有企业的‘根’和‘魂’，是我国国有企业的独特优势。</span>-->
            <!--<span class="sy-article-num">文章：13</span>-->
        </div>
    </ion-item>
</ion-list>
