<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/iconfont/iconfont.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/user.css">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->

    <script src="main/app.js"></script>
    <!--<script src="main/constant.js"></script>-->
    <script src="main/config.js"></script>
    <!--<script src="main/filter.js"></script>-->
    <script src="main/route.js"></script>

    <script src="directive/directives.js"></script>

    <!--controllers-->
    <!--<script src="controller/app.js"></script>-->
    <!--<script src="js/indexCtrl.js"></script>-->
    <script src="js/zixunCtrl.js"></script>
    <script src="js/dangjianCtrl.js"></script>
    <script src="js/booksCtrl.js"></script>
    <script src="js/wenhuaCtrl.js"></script>
    <script src="js/userCtrl.js"></script>
    <script src="js/shopCtrl.js"></script>
    <script src="js/productCtrl.js"></script>
    <script src="js/searchCtrl.js"></script>


    <script src="service/services.js"></script>
    <script src="service/dataService.js"></script>

</head>
<body ng-app="starter" animation="slide-left-right-ios7">
<!--
  The nav bar that will be updated as we navigate between views.
-->
<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->
<ion-nav-view>
    <style>
        .sy-user-nav{
            display:inline-block;
            width:100%;
            margin-top:10px;
        }

        .sy-user-nav li{
            float:left;
            width:100%;
            height:45px;
            padding:0 2%;
            line-height:45px;
            position:relative;
        }

        .sy-user-nav li i{
            width:45px;
            float:left;
            text-align:center;
            font-size:1.45rem;
            color:#666;
            position:absolute;
            left:2%;
        }

        .sy-user-nav li span{
            padding:0 5px;
            float:left;
            font-size:1rem;
            color:#666;
            position:absolute;
            left:55px;
            width:100%;
            border-bottom:1px solid #999;
        }
    </style>
    <script id="userInfo.html" type="text/ng-template">
        <div class="modal" style="width:65%; background:#f2f2f2">
            <div class="sy-user-info">
                <div class="sy-user-topImg">
                    <div class="u-img"><img src="" alt=""></div>
                    <div class="u-names">便当笑笑</div>
                    <div class="u-coin">
                        <span>积分：</span>
                        <span>100</span>
                    </div>
                </div>
            </div>
            <div class="sy-user-nav">
                <ul>
                    <li ng-click="goUserInfoNav('readLog')"><i class="icon iconfont icon-yuedu"></i><span>阅读记录</span></li>
                    <li ng-click="goUserInfoNav('ideaInfo')"><i class="icon iconfont icon-jilu2-copy"></i><span>学习心得</span></li>
                    <li ng-click="goUserInfoNav('coinInfo')"><i class="icon iconfont icon-guanli"></i><span>积分管理</span></li>
                    <li ng-click="goUserInfoNav('changeLog')"><i class="icon iconfont icon-duihuan"></i><span>兑换记录</span></li>
                    <li ng-click="goUserInfoNav('mission')"><i class="icon iconfont icon-renwu1"></i><span>历史任务</span></li>
                    <!--<li ng-click=""><i class="icon iconfont icon-shangcheng"></i><span>商城</span></li>-->
                    <li ng-click="goUserInfoNav('setting')"><i class="icon iconfont icon-ttpodicon"></i><span>设置</span></li>
                </ul>
            </div>
        </div>
    </script>
    <script id="search.html" type="text/ng-template">
        <div class="modal" style="width:100%;">
            <div class="sy-search-text">
                <form ng-submit="toSearch(info,'go')" novalidate>
                    <div class="sy-search-left">
                        <i class="icon iconfont icon-fangdajing"></i>
                        <div class="search-label">
                            <input type="search" placeholder="搜索" ng-model="info.searchName" ng-change="toSearch(info,'auto')" style="padding:0px">
                            <!--<input type="search" placeholder="搜索" ng-model="info.searchName" style="padding:0px">-->
                        </div>
                    </div>
                    <div class="sy-search-right" ng-click="search('hide')">
                        取 消
                    </div>
                </form>
            </div>
            <div class="search-backdrop-bg" style="background: {{search_backdrop}};">

            </div>
            <div class="sy-search-list" style="display:{{search_list}}">
                <div class="sy-search-con">
                    <ul>
                        <li ng-click="goSearchInfo({{val.id}},'goinfo')" class="sy-search-li" ng-if="key < 9" ng-repeat="(key,val) in itemSearch">{{val.title}}</li>
                        <li ng-click="goSearchInfo({{val.id}},'goinfo')" class="sy-search-li last" ng-if="key == 9" ng-repeat="(key,val) in itemSearch">{{val.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </script>
    <script id="searchInfo.html" type="text/ng-template">
        <div class="modal" style="width:100%;">
            <div class="sy-search-text">
                <form ng-submit="toSearch(info,'go')" novalidate>
                    <div class="sy-search-left">
                        <i class="icon iconfont icon-fangdajing"></i>
                        <div class="search-label">
                            <input type="search" placeholder="搜索" ng-model="info.searchName" ng-change="toSearch(info,'auto')" style="padding:0px">
                            <!--<input type="search" placeholder="搜索" ng-model="info.searchName" style="padding:0px">-->
                        </div>
                    </div>
                    <div class="sy-search-right" ng-click="search_Info('hide')">
                        取 消
                    </div>
                </form>
            </div>
            <ion-scroll class="sy-scroll-tab-x" direction="x" scrollbar-x="false" style="overflow-x: hidden; display:inline-block">
                <div class="sy-nav-lv2" style="">
                    <div>
                        <a ng-href="#/tab/dangjian" class="active">综合</a>
                    </div>
                </div>
            </ion-scroll>

            <ion-content class="sy-content" style="top:46px;">
                <ion-list class="sy-search_info-list">
                    <ion-item ng-click="goSearchInfo({{item.id}},'goinfo')" class="sy-search_info-items" ng-repeat="(key,item) in itemSearch">
                        <!--<ion-item href="#/search_info/{{item.id}}" ng-click="goSearchInfo(item.id,goinfo)" class="sy-search_info-items" ng-repeat="(key,item) in list">-->
                        <div class="img">
                            <img ng-src="{{item.imgUrl}}">
                        </div>
                        <div class="sy-article">
                            <span class="sy-article-title">{{item.title}}</span>
                            <span class="sy-article-memo">{{item.ms}}</span>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
        </div>
    </script>
</ion-nav-view>
</body>
</html>
