<ion-view hide-nav-bar="true" hide-back-button="true">
    <link rel="stylesheet" href="./css/books.css">
    <link rel="stylesheet" href="./css/books/book_clists.css">
    <style>


    </style>
    <ion-header-bar class="bar bar-header zx-info-top top-header-nav" style="">
        <div class="sy-info-nav dj_nav">
            <button class="button button-icon" ng-click="goBack()">
                <i class="icon ion-ios-arrow-back"></i>
            </button>
            <span>{{cateName}}</span>
        </div>
    </ion-header-bar>

    <ion-content class="sy-content bookLists" style="">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="reloadBook('refresher')" refreshing-text="正在刷新"></ion-refresher>
        <ion-list class="sy-sylm-list">
            <div class="dzs-content">
                <ion-item class="sy-sylm-dzs" ng-click="bookContent(v.id,v.e_book_id)" ng-repeat="(k,v) in lists">
                    <div class="img"><img ng-src="{{v.imgUrl}}"></div>
                    <span>{{v.bookName}}</span>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll immediate-check="false" ng-if="isLoadMore()" on-infinite="reloadBook('infinite')" refreshing-text="正在加载"></ion-infinite-scroll>
    </ion-content>
</ion-view>
