<ion-view hide-nav-bar="true" hide-back-button="true">
    <link rel="stylesheet" href="./css/books.css">
    <style>

    </style>

    <ion-header-bar class="bar bar-header sy-top-search top-header-nav" style="min-height:40px;">
        <div class="header-comment">
            <div class="user-comment">
                <div class="user-info" ng-click="showUser()">
                    <div class="u-top-img"><i class="user-top-img icon iconfont icon-yonghu"></i></div>
                </div>
            </div>
            <div class="top-search">
                <div class="top-s-con" ng-click="search('show')">
                    <i class="search-icon icon iconfont icon-fangdajing"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <ion-scroll class="sy-scroll-tab-x" direction="x" scrollbar-x="false" style="overflow-x: hidden;">
            <div class="sy-nav-lv2" style="">
                <div>
                    <a ng-href="#/tab/books">经典阅读</a>
                    <a ng-href="#/tab/books_b">新书推荐</a>
                    <a ng-href="#/tab/books_c" class="active">美丽广西</a>
                </div>
            </div>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="sy-content">

        <ion-list class="sy-sylm-list">
            <ion-item  ng-if="item.l_t == 2" href="#/tab/booksnav/{{item.id}}/3" class="sy-sylm-item" ng-repeat="(key,item) in list">
                <img ng-src="{{item.imgUrl}}">
                <!--<img ng-src="{{chat.face}}">-->
                <span>{{item.titles}}</span>
            </ion-item>
            <ion-item  ng-if="item.l_t == 1" href="#/booksinfo/{{item.id}}/0/3" class="sy-sylm-item" ng-repeat="(key,item) in list">
                <img ng-src="{{item.imgUrl}}">
                <!--<img ng-src="{{chat.face}}">-->
                <span>{{item.titles}}</span>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
