<ion-view hide-nav-bar="true" hide-back-button="true">
    <link rel="stylesheet" href="./css/books.css">
    <style>


    </style>

    <ion-header-bar class="bar bar-header sy-top-search top-header-nav" style="min-height:40px;">
        <div class="header-comment">
            <div class="user-comment">
                <div class="user-info" ng-click="showUser()">
                    <div class="u-top-img"><i class="user-top-img icon iconfont icon-yonghu"></i></div>
                </div>
            </div>
            <div class="top-search">
                <div class="top-s-con" ng-click="search('show')">
                    <i class="search-icon icon iconfont icon-fangdajing"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <ion-scroll class="sy-scroll-tab-x" direction="x" scrollbar-x="false" style="overflow-x: hidden;">
            <div class="sy-nav-lv2" style="">
                <div>
                    <a ng-click="tabsChange(1,'tab.books')" ng-class="tabactive==1 ? 'active' : '' ">经典阅读</a>
                    <a ng-click="tabsChange(2,'tab.books_b')" ng-class="tabactive==2 ? 'active' : '' ">新书推荐</a>
                    <a ng-click="tabsChange(3,'tab.books_c')" ng-class="tabactive==3 ? 'active' : '' ">电子书</a>
                </div>
            </div>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="sy-content cate-l" scrollbar-y="false">
        <ion-list class="sy-E-cate-l">
            <div class="cate-l-list">
                <ul class="cate-com-l">
                    <li ng-repeat="(ck,cv) in lists" ng-class="cv.id==cat_active ? 'cate-active' : '' " ng-click="eTabChange(cv.id)">{{cv.cat_name}}</li>
                </ul>
            </div>
        </ion-list>
    </ion-content>

    <ion-content class="sy-content cate-r">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="reloadBook('refresher')" refreshing-text="正在刷新"></ion-refresher>
        <ion-list class="sy-E-cate-r">
            <div class="cate-r-list">
                <ul class="">
                    <li ng-repeat="(ck2,cv2) in catlists" ng-click="ebooklists(cv2.cat_name)">
                        <img src="{{cv2.firstBook.imgUrl}}" alt="" class="topImg">
                        <span class="cateName">{{cv2.cat_name}}</span>
                        <span class="bookNum"> <i>{{cv2.bookNum}}</i> 本</span>
                    </li>
                </ul>
            </div>
        </ion-list>
        <ion-infinite-scroll immediate-check="false" ng-if="isLoadMore()" on-infinite="reloadBook('infinite')" refreshing-text="正在加载"></ion-infinite-scroll>
    </ion-content>
</ion-view>
