<ion-view hide-nav-bar="true" hide-back-button="true">
    <link rel="stylesheet" href="./css/books.css">
    <style>

    </style>

    <ion-header-bar class="bar bar-header sy-top-search top-header-nav" style="min-height:40px;">
        <div class="header-comment">
            <div class="user-comment">
                <div class="user-info" ng-click="showUser()">
                    <div class="u-top-img"><i class="user-top-img icon iconfont icon-yonghu"></i></div>
                </div>
            </div>
            <div class="top-search">
                <div class="top-s-con" ng-click="search('show')">
                    <i class="search-icon icon iconfont icon-fangdajing"></i>
                    <span></span>
                </div>
            </div>
        </div>
        <ion-scroll class="sy-scroll-tab-x" direction="x" scrollbar-x="false" style="overflow-x: hidden;">
            <div class="sy-nav-lv2" style="">
                <div>
                    <a ng-click="tabsChange(1,'tab.books')" ng-class="tabactive==1 ? 'active' : '' ">经典阅读</a>
                    <a ng-click="tabsChange(2,'tab.books_b')" ng-class="tabactive==2 ? 'active' : '' ">新书推荐</a>
                    <a ng-click="tabsChange(3,'tab.books_c')" ng-class="tabactive==3 ? 'active' : '' ">电子书</a>
                    <!--<a ng-href="#/tab/books">经典阅读</a>-->
                    <!--<a ng-href="#/tab/books_b">新书推荐</a>-->
                    <!--<a ng-href="#/tab/books_c" class="active">电子书</a>-->
                </div>
            </div>
        </ion-scroll>
    </ion-header-bar>

    <ion-content class="sy-content">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="reloadBook('refresher')" refreshing-text="正在刷新"></ion-refresher>
        <ion-list class="sy-sylm-list">
            <div class="dzs-content">
                <ion-item class="sy-sylm-dzs" ng-click="bookContent(v3.id,v3.e_book_id)" ng-repeat="(k3,v3) in lists">
                    <div class="img"><img ng-src="{{v3.imgUrl}}"></div>
                    <span>{{v3.bookName}}</span>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="isLoadMore()" on-infinite="reloadBook('infinite')" refreshing-text="正在加载"></ion-infinite-scroll>
    </ion-content>
</ion-view>
