<!--<ion-header-bar class="bar bar-header sy-top-search top-header-nav" style="min-height:40px">-->
    <!--<div class="sy-top-nav" style="top:0; height:40px;">-->
        <!--<div>-->
            <!--<a ng-href="#/tab/dangjian" class="active">党员学习</a>-->
            <!--<a ng-href="#/tab/dangke">在线党课</a>-->
            <!--<a ng-href="#/tab/kaoshi">党员考试</a>-->
            <!--<a ng-href="#/tab/zhichuang">党建之窗</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</ion-header-bar>-->
<ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
        <button class="button" ng-click="doSomething()">左侧按钮</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
        <button class="button">右侧按钮</button>
    </div>
</ion-header-bar>