<ion-view hide-nav-bar="true" hide-back-button="true">
    <style>
        .item-input-inset{ background-image:linear-gradient(0deg, #fff, #fff 50%, transparent 50%) !important; }
    </style>

    <ion-header-bar class="sy-top-search top-header-nav" style=" position:relative">
        <div class="sy-top-search-input">
            <form ng-submit="submitFormSearch(search)" novalidate>
                <div>
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input style="display:none">
                        <input type="search" name="keywords" id="keywords" ng-model="search.keywords" placeholder="搜索" style="width:80%" autocomplete="off">
                    </label>
                </div>
                <div class="buttons">
                    <button class="button" type="submit">
                        搜索
                    </button>
                </div>
            </form>
        </div>
        <div class="sy-top-nav sy-top-navs">
            <div>
                <a ng-href="#/tab/zixun" class="active">新闻资讯</a>
                <a ng-href="#/tab/tongzhi">公告通知</a>
            </div>
        </div>
    </ion-header-bar>

    <ion-content class="sy-content">

        <ion-list class="sy-zx-list">
            <ion-refresher pulling-text="下拉刷新..." on-refresh="reloadNews('refresher')" refreshing-text="正在刷新"></ion-refresher>
            <ion-item href="#/zixun_info/{{item.id}}" class="sy-zx-item" ng-repeat="(key,item) in newsList">
                <img ng-src="{{item.imgUrl}}">
                <!--<img ng-src="{{chat.face}}">-->
                <span>{{item.title}}</span>
            </ion-item>

        </ion-list>
        <ion-infinite-scroll ng-if="infiniteIsShow(key)" on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>
