<ion-view hide-nav-bar="true" hide-back-button="true">
    <link rel="stylesheet" href="./css/zx.css">
    <style>
        .item-input-inset{ background-image:linear-gradient(0deg, #fff, #fff 50%, transparent 50%) !important; }
    </style>

    <ion-header-bar class="bar bar-header sy-top-search top-header-nav" style="min-height:40px;">
        <div class="header-comment">
            <div class="user-comment">
                <div class="user-info" ng-click="showUser()">
                    <div class="u-top-img"><i class="user-top-img icon iconfont icon-yonghu"></i></div>
                </div>
            </div>
            <div class="top-search">
                <div class="top-s-con">
                    <i class="search-icon icon iconfont icon-fangdajing"></i>
                    <span></span>
                </div>
            </div>
        </div>
    </ion-header-bar>

    <ion-content class="sy-content">

        <ion-list class="sy-zx-list">
            <ion-refresher pulling-text="下拉刷新..." on-refresh="reloadNews('refresher')" refreshing-text="正在刷新"></ion-refresher>

            <ion-item href="#/zixun_info/{{item.id}}" class="sy-zx-item" ng-repeat="(key,item) in newsList">
                <img ng-src="{{item.imgUrl}}">
                <!--<img ng-src="{{chat.face}}">-->
                <span>{{item.title}}</span>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="isLoadMore()" on-infinite="reloadNews('infinite')"></ion-infinite-scroll>
    </ion-content>
</ion-view>
