<ion-view hide-nav-bar="true" hide-back-button="true">
    <link rel="stylesheet" href="./css/login.css">
    <style>


    </style>
    <ion-header-bar class="bar bar-header zx-info-top top-header-nav" style="">
        <div class="sy-login-nav login_nav">
            <button class="button button-icon" ng-click="goBack()" style="z-index: 99999;">
                <i class="icon ion-ios-arrow-back"></i>
            </button>
            <span>登录</span>
        </div>
    </ion-header-bar>

    <ion-content class="sy-content loginCon" style="top:46px;">
        <div class="sy-login-logo">
            <img src="{{login_logo}}" alt="">
        </div>
        <div class="login_form">
            <form ng-submit="submitForm(user)" novalidate>
                <div>
                    <i class="icon iconfont icon-yonghu"></i>
                    <input type="text" name="username" id="username" ng-model="user.username" placeholder="请输入手机号" autocomplete="off">
                </div>
                <div>
                    <i class="icon iconfont icon-mima"></i>
                    <input type="password" name="password" id="password" ng-model="user.password" placeholder="请输入密码" autocomplete="off">
                </div>

                <button type="submit" class="button  button-block button-calm">登录</button>
            </form>
        </div>
        <div class="sy-login-jihuo">
            <a ng-href="">激活帐号</a>
        </div>

        <div style="" class="log-foot">
            <p style="">©国企书院版权所有 桂IPC16007885-1号</p>
            <p style="">联系我们 丨 企业邮箱</p>
        </div>


    </ion-content>
</ion-view>
