/** 学习列表页*/
.sy-xuexi-list, .sy--list{
    float:left;
    width:100%;
}

.sy-xuexi-list .sy-xuexi-items{
    width:100%;
    float:left;
    border:0;
    height:112px;
    border-bottom:1px solid #f0f0f0;
    margin-bottom:2px;
}

.sy-xuexi-items .img{
    width:45%;
    float:left;
}

.sy-xuexi-items .img img{
    width:100%;
    height:100px;
    border-radius:6px;
    float:left;
}

.sy-xuexi-items .item-content{
    padding:5px;
}

.sy-xuexi-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

.sy-article-title,
.sy-article-memo,
.sy-article-num{
    float:left;
    width:100%;
    white-space:normal;
    max-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sy-article-memo, .sy-article-num{
    font-size:12px;
    color:#999;
}

.sy-article-num{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
}

/** 党课列表页*/
.sy-dangke-list{
    float:left;
    width:100%;
}

.sy-dangke-list .sy-dangke-items{
    width:100%;
    float:left;
    border:0;
    height:112px;
    border-bottom:1px solid #f0f0f0;
}

.sy-dangke-items .img{
    width:45%;
    float:left;
}

.sy-dangke-items .img img{
    width:100%;
    height:100px;
    border-radius:6px;
    float:left;
}

.sy-dangke-items .item-content{
    padding:5px;
}

.sy-dangke-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

.sy-article-title,
.sy-article-memo,
.sy-article-num{
    float:left;
    width:100%;
    white-space:normal;
    max-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sy-article-memo, .sy-article-num{
    font-size:12px;
    color:#999;
}

.sy-article-num{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
}

/** 党建之窗列表页*/
.sy-djzc-list{
    float:left;
    width:100%;
}

.sy-djzc-list .sy-djzc-items{
    width:100%;
    float:left;
    border:0;
    height:112px;
    border-bottom:1px solid #f0f0f0;
}

.sy-djzc-items .img{
    width:45%;
    float:left;
}

.sy-djzc-items .img img{
    width:100%;
    height:100px;
    border-radius:6px;
    float:left;
}

.sy-djzc-items .item-content{
    padding:5px;
}

.sy-djzc-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

.sy-article-title,
.sy-article-memo,
.sy-article-num{
    float:left;
    width:100%;
    white-space:normal;
    max-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sy-article-memo, .sy-article-num{
    font-size:12px;
    color:#999;
}

.sy-article-num{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
}

/** 党建专题列表页*/
.sy-dj_nav-list{
    float:left;
    width:100%;
}

.sy-dj_nav-list .sy-dj_nav-items{
    width:100%;
    float:left;
    border:0;
    height:112px;
    border-bottom:1px solid #f0f0f0;
    margin-bottom:5px;
}

.sy-dj_nav-items .img{
    width:45%;
    float:left;
}

.sy-dj_nav-items .img img{
    width:100%;
    height:100px;
    border-radius:6px;
    float:left;
}

.sy-dj_nav-items .item-content{
    padding:5px;
}

.sy-dj_nav-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

.sy-article-title,
.sy-article-memo,
.sy-article-num{
    float:left;
    width:100%;
    white-space:normal;
    max-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sy-article-memo, .sy-article-num{
    font-size:12px;
    color:#999;
}

.sy-article-num{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
}