/** 学习列表页*/
.sy-xuexi-list, .sy--list{
    float:left;
    width:100%;
    margin-bottom:40px;
}

.sy-xuexi-list .sy-xuexi-items{
    width:100%;
    float:left;
    border:0;
    height:112px;
    border-bottom:1px solid #f0f0f0;
    margin-bottom:2px;
}

.sy-xuexi-items .img{
    width:45%;
    float:left;
}

.sy-xuexi-items .img img{
    width:100%;
    height:100px;
    border-radius:6px;
    float:left;
}

.sy-xuexi-items .item-content{
    padding:5px;
}

.sy-xuexi-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

.sy-article-title,
.sy-article-memo,
.sy-article-num{
    float:left;
    width:100%;
    white-space:normal;
    max-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sy-article-memo, .sy-article-num{
    font-size:12px;
    color:#999;
}

.sy-article-num{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
}

/** 党课列表页*/
.sy-dangke-list{
    float:left;
    width:100%;
}

.sy-dangke-list .sy-dangke-items{
    width:100%;
    float:left;
    border:0;
    height:112px;
    border-bottom:1px solid #f0f0f0;
}

.sy-dangke-items .img{
    width:45%;
    float:left;
}

.sy-dangke-items .img img{
    width:100%;
    height:100px;
    border-radius:6px;
    float:left;
}

.sy-dangke-items .item-content{
    padding:5px;
}

.sy-dangke-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

.sy-article-title,
.sy-article-memo,
.sy-article-num{
    float:left;
    width:100%;
    white-space:normal;
    max-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sy-article-memo, .sy-article-num{
    font-size:12px;
    color:#999;
}

.sy-article-num{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
}

/** 党建之窗列表页*/
.sy-djzc-list{
    float:left;
    width:100%;
}

.sy-djzc-list .sy-djzc-items{
    width:100%;
    float:left;
    border:0;
    height:112px;
    border-bottom:1px solid #f0f0f0;
}

.sy-djzc-items .img{
    width:45%;
    float:left;
}

.sy-djzc-items .img img{
    width:100%;
    height:100px;
    border-radius:6px;
    float:left;
}

.sy-djzc-items .item-content{
    padding:5px;
}

.sy-djzc-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

.sy-article-title,
.sy-article-memo,
.sy-article-num{
    float:left;
    width:100%;
    white-space:normal;
    max-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sy-article-memo, .sy-article-num{
    font-size:12px;
    color:#999;
}

.sy-article-num{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
}

/** 党建专题列表页*/
.sy-dj_nav-list{
    float:left;
    width:100%;
}

.sy-dj_nav-list .sy-dj_nav-items{
    width:100%;
    float:left;
    border:0;
    height:112px;
    border-bottom:1px solid #f0f0f0;
    margin-bottom:5px;
}

.sy-dj_nav-items .img{
    width:45%;
    float:left;
}

.sy-dj_nav-items .img img{
    width:100%;
    height:100px;
    border-radius:6px;
    float:left;
}

.sy-dj_nav-items .item-content{
    padding:5px;
}

.sy-dj_nav-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

.sy-article-title,
.sy-article-memo,
.sy-article-num{
    float:left;
    width:100%;
    white-space:normal;
    max-height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sy-article-memo, .sy-article-num{
    font-size:12px;
    color:#999;
}

.sy-article-num{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:0;
    right:0;
}

/*党建考试选择*/
.ks-type-top{
    width:100%;
    padding:0 3%;
    margin-top:30px;
}

.ks-div{
    width:100%;
    display:inline-block;
    border-bottom:2px solid #fe2d4c;
}

.ks-title{
    display:inline-block;
    font-size:14px;
    font-weight:normal;
    background:#fe2d4c;
    color:white;
    padding:4px 10px;
    border-radius:6px 6px 0 0;
}

.ks-choose .item-radio{
    /*border-left: 0;*/
    /*border-right: 0;*/
    margin-top:5px;
    border-radius:40px;
}

.ks-choose-radio-c .ks-choose-item.item-content{
    padding:10px 20px;
}

.ks-choose-radio-c i.radio-icon{
    padding:5px;
    top:2px;
    right:10px;
    font-size:1.2rem;
    color:#4cd964;
}

.ks-submit{
    width:94%;
    margin-left:3%;
    margin-top:25px;
    background:#4cd964;
    border:0;
    border-radius:6px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:1.1rem;
    color:white;
}