a{ text-decoration:none }

.item .item-content.activated{
    background-color:#f0f0f0;
    border-color:#f0f0f0;
!important;
}

/** 头部搜索框部分*/
.top-header-nav{
    padding:0;
}

.top-header-nav .item-input-inset{
    position:fixed;
    top:0;
}

.header-comment{
    background-color:#fe2d4c;
    width:100%;
    height:100%;
    display:inline-block;
}

.user-comment, .user-comment > *{
    display:inline-block;
    height:100%;
    width:100%;
    line-height:100%;
    text-align:center;
}

.user-comment{
    width:15%;
    height:100%;
    float:left;
}

.u-plist{
    display:inline-block;
    margin-left:-18px;
    margin-top:1rem;
}

.u-top-img{
    display:inline-block;
    width:1.7rem;
    height:1.7rem;
    border:1px solid white;
    margin-top:.55rem;
    line-height:1.6rem;
    text-align:center;
    border-radius:50%;
    /*float:right;*/
}

.user-top-img{
    display:inline-block;
    font-size:1.5rem;
    color:white;
}

.user-l-playlist{
    font-size:1.5rem;
    color:white;
}

.top-search{
    display:inline-block;
    width:80%;
    height:100%;
    padding:5px 10px;
}

.top-s-con{
    width:100%;
    height:2rem;
    line-height:2rem;
    display:inline-block;
    position:relative;
    top:.1rem;
}

.search-icon{
    position:absolute;
    left:.7rem;
    top:1px;
    color:white;
}

.top-s-con span{
    display:inline-block;
    height:100%;
    width:100%;
    background:#f08080;
    border-radius:40px;
}

/**内容部分*/
.sy-content{
    top:45px;
}

/** 底部自定义图标*/
.icon.iconfont.icon-dangjian1,
.icon.iconfont.icon-dangjian{
    position:relative;
    top:10px;
}

/** 底部颜色*/
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active{
    color:#fe2d4c;
}

/*左侧用户栏*/
.modal-backdrop-bg{
    background:rgba(0, 0, 0, 0.4);
    opacity:0.8;
}

.sy-user-info{
    display:inline-block;
    width:100%;
    height:175px;
    background-color:#fe2d4c;
}

.sy-user-topImg{
    display:block;
    height:90px;
    margin-top:10px;
}

.u-img{
    display:inline-block;
    width:80px;height:80px;
    margin-left:10px;
    margin-top:5px;
    background-color:white;
    border-radius:50%;
    border:none;
}

.u-img img{
    display:inline-block;
    width:100%;height:100%;
}

.u-names{
    margin-top:10px;
    padding:0 10px;
    color:white;
    font-size:16px;
}

.u-coin{
    display:block;
    margin-top:5px;
    padding:0 10px;
}

.u-coin span{
    color:white;
}

/** 切换*/
/*从右向左*/
.slide-in-right{
    -webkit-transform:translateX(-100%);
    transform:translateX(100%);
}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter{
    -webkit-transition:all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition:all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active{
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.slide-in-right.ng-leave, .slide-in-right > .ng-leave{
    -webkit-transition:all ease-in-out 250ms;
    transition:all ease-in-out 250ms;
}

/*从左向右*/
.slide-in-left{
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
}

.slide-in-left.ng-enter, .slide-in-left > .ng-enter{
    -webkit-transition:all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition:all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active{
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.slide-in-left.ng-leave, .slide-in-left > .ng-leave{
    -webkit-transition:all ease-in-out 250ms;
    transition:all ease-in-out 250ms;
}