a{ text-decoration:none }

.item .item-content.activated{
    background-color:#f0f0f0;
    border-color:#f0f0f0;
!important;
}

/** 头部搜索框部分*/
.top-header-nav{
    padding:0;
    display:inline-block;
}

.top-header-nav .item-input-inset{
    position:fixed;
    top:0;
}

.header-comment{
    background-color:#fe2d4c;
    width:100%;
    height:100%;
    display:inline-block;
}

.user-comment, .user-comment > *{
    display:inline-block;
    height:100%;
    width:100%;
    line-height:100%;
    text-align:center;
}

.user-comment{
    width:15%;
    height:100%;
    float:left;
}

.u-plist{
    display:inline-block;
    margin-left:-18px;
    margin-top:1rem;
}

.u-top-img{
    display:inline-block;
    width:1.7rem;
    height:1.7rem;
    border:1px solid white;
    margin-top:.55rem;
    line-height:1.6rem;
    text-align:center;
    border-radius:50%;
    /*float:right;*/
}

.user-top-img{
    display:inline-block;
    font-size:1.5rem;
    color:white;
}

.user-l-playlist{
    font-size:1.5rem;
    color:white;
}

.top-search{
    display:inline-block;
    width:80%;
    height:100%;
    padding:5px 10px;
}

.top-s-con{
    width:100%;
    height:2rem;
    line-height:2rem;
    display:inline-block;
    position:relative;
    top:.035rem;
}

.search-icon{
    position:absolute;
    left:.7rem;
    top:1px;
    color:white;
}

.top-s-con span{
    display:inline-block;
    height:100%;
    width:100%;
    background:#f08080;
    border-radius:40px;
}

.sy-scroll-tab-x{
    white-space:nowrap;
    width:100%;
    background-color:white;
    border-bottom:1px solid #ccc;
    z-index:999;
}

.sy-nav-lv2{
    height:38px;
    display:inline-block;
    width:100%;
    white-space:nowrap;
    padding:0 15px;
}

.sy-nav-lv2 a{
    display:inline-block;
    color:#666;
    line-height:38px;
    width:22%;
    text-align:center;
    height:38px;
}

.sy-nav-lv2 a.active{
    color:#fe2d4c;
    border-bottom:2px solid #fe2d4c;
}

/**内容部分*/
.sy-content{
    top:44px !important;
    /*margin-top:44px;*/
    padding-top:40px;
}

.slider-pager{
    position:absolute;
    bottom:20px;
    z-index:1;
    width:100%;
    height:15px;
    text-align:right;
    padding:0 8px;
}

.slider-pager .slider-pager-page{
    display:inline-block;
    margin:0px 3px;
    width:10px;
    color:#000;
    text-decoration:none;
    opacity:0.3;
    font-size:10px;
}

/** 底部自定义图标*/
.icon.iconfont.icon-dangjian1,
.icon.iconfont.icon-dangjian{
    position:relative;
    top:10px;
}

/** 底部颜色*/
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active{
    color:#fe2d4c;
}

/*左侧用户栏*/
.modal-backdrop-bg{
    background:rgba(0, 0, 0, 0.4);
    opacity:0.8;
}

.sy-user-info{
    display:inline-block;
    width:100%;
    height:175px;
    background-color:#fe2d4c;
}

.sy-user-topImg{
    display:block;
    height:90px;
    margin-top:10px;
}

.u-img{
    display:inline-block;
    width:80px;height:80px;
    margin-left:10px;
    margin-top:5px;
    background-color:white;
    border-radius:50%;
    border:none;
}

.u-img img{
    display:inline-block;
    width:100%;height:100%;
    border-radius:50%;
}

.u-names{
    margin-top:10px;
    padding:0 10px;
    color:white;
    font-size:16px;
}

.u-coin{
    display:block;
    margin-top:5px;
    padding:0 10px;
}

.u-coin span{
    color:white;
}

/** 切换*/
/*从右向左*/
.slide-in-right{
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter{
    -webkit-transition:all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition:all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active{
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.slide-in-right.ng-leave, .slide-in-right > .ng-leave{
    -webkit-transition:all ease-in-out 250ms;
    transition:all ease-in-out 250ms;
}

/*从左向右*/
.slide-in-left{
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
}

.slide-in-left.ng-enter, .slide-in-left > .ng-enter{
    -webkit-transition:all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition:all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active{
    -webkit-transform:translateX(0);
    transform:translateX(0);
}

.slide-in-left.ng-leave, .slide-in-left > .ng-leave{
    -webkit-transition:all ease-in-out 250ms;
    transition:all ease-in-out 250ms;
}

/*搜索页*/
.sy-search-text{
    width:100%;
    padding:5px 2%;
    background-color:#fe2d4c;
    height:44px;
    display:inline-block;
}

.sy-search-left{
    display:inline-block;
    width:80%;
    position:relative;
}

.sy-search-left i{
    position:absolute;
    top:8px;
    left:8px;
}

.sy-search-left .search-label{
    background:white;
    padding:0 0 0 34px;
    border-radius:20px;
}

.search-label input{
    padding:3px;
    width:90%;
}

.sy-search-right{
    width:15%;
    display:inline-block;
    height:34px;
    float:right;
    line-height:34px;
    text-align:center;
    color:white;
    font-size:16px;
}

/*自动搜索结果*/
.sy-search-list{
    width:100%;
    background:#fff;
    display:inline-block;
    padding:0 3%;
}

.sy-search-con{
    width:100%;
    display:inline-block;
}

.sy-search-con li{
    width:100%;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    overflow:hidden;
}

.sy-search-con li.last{
    border-bottom:none;
}

.search-backdrop-bg{
    position:fixed;
    top:44px;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    /*background:rgba(0, 0, 0, 0.4);*/
    opacity:0.6;
}

/*搜索结果页*/
.sy-search_info-list{
    width:100%;
    background:#f2f2f2;
    display:inline-block;
}

.sy-search_info-list .sy-search_info-items .img{
    width:45%;
    display:inline-block;
}

.sy-search_info-items,
.sy-search_info-items a{
    padding:5px !important;
}

.sy-search_info-items .img img{
    width:100%;
    display:inline-block;
    border-radius:6px;
}

.sy-search_info-items .sy-article{
    width:53%;
    float:right;
    font-size:14px;
    position:relative;
    height:100px;
}

/*用户导航栏*/
.sy-user-nav{
    display:inline-block;
    width:100%;
    margin-top:10px;
}

.sy-user-nav li{
    float:left;
    width:100%;
    height:45px;
    padding:0 2%;
    line-height:45px;
    position:relative;
}

.sy-user-nav li i{
    width:45px;
    float:left;
    text-align:center;
    font-size:1.45rem;
    color:#666;
    position:absolute;
    left:2%;
}

.sy-user-nav li span{
    padding:0 5px;
    float:left;
    font-size:1rem;
    color:#666;
    position:absolute;
    left:55px;
    width:100%;
    border-bottom:1px solid #999;
}